@model MedicineStore.CORE.ViewModels.AddMedicineViewModel

<div class="row">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Add medicine</h4>
        <form method="post">
            <div class="mb-3">
                <label for="name">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="Name" value="@Model.Name" name="name">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "invalid-feedback", @style= "display: block;" })

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="grossPrice">Gross Price</label>
                    <input type="text" class="form-control" id="grossPrice" placeholder="Gross price" value="@Model.GrossPrice" name="GrossPrice">
                    @Html.ValidationMessageFor(model => model.GrossPrice, "", new { @class = "invalid-feedback", @style = "display: block;" })
                </div>
                <div class="col-md-6 mb-3">
                    <label for="specialPrice">Special price <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="specialPrice" placeholder="Special price" value="@Model.SpecialGrossPrice" name="SpecialGrossPrice">
                </div>
            </div>
            <div class="mb-3">
                <label for="name">Description</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" id="description" placeholder="Description" value="@Model.Description" name="Description">
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "invalid-feedback", @style = "display: block;" })
                </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>