@model IEnumerable<MedicineStore.CORE.ViewModels.MedicineHeaderViewModel>

<div class="text-center">
    <h1 class="display-4">Medicine Store</h1>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        @foreach (var medicine in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="@medicine.ImageUrl" alt="medicine cover">
                        <div class="card-body">
                            <p class="card-text">@medicine.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                </div>
                                <div>
                                    @if (medicine.SpecialGrossPrice != 0.0m)
                                    {
                                        <small class="text-muted">
                                            <s>@medicine.GrossPrice zł</s> <br />
                                        </small>
                                        @medicine.SpecialGrossPrice <text> zł</text>
                                    }
                                    else
                                    {
                                        @medicine.GrossPrice <text> zł</text>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
